%flexbox_column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  height: 270px;//11vh;
  width: 100vw;
  background: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3vw;//12.88vw;
  padding-right: 3vw;//15vw;
}

.upper_container{
  width: 1280px;
}

.meeting_img{
  height: 162px;
}

.main_logo{
  height: 270px;
  position: absolute;
  top: 30px;
  left: 7.5%;
}

.upper_header{

}

.upper_container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Gt Eesti Pro Display Bold", sans-serif;
  font-size: 58px;
  letter-spacing: 1px;
  white-space: pre-wrap;
}

.middle_header{
  height: 48px;//11vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lower_header{
    height: 25px;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lower_navbar{
  width: 1280px;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 400px;
  font-family: "Gt Eesti Pro Display Light",sans-serif;
  font-size: 29px;
  img{
    margin-top: 10px;
    height: 59px;
  }
}

.navbar{
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 4.5%;
  a{
    text-decoration: none;
    color: white;
    font-family: "Gt Eesti Pro Display Medium", sans-serif;
    font-size: 35px;
    margin-top: 6px;
  }
}

.body_container{
  padding-left: 3vw;//10.38vw;
  padding-right: 3vw;//10.38vw;
  padding-top: 3px;
  margin-top: 2%;
  @extend %flexbox_column
}