@media screen and (orientation: portrait) {
  .central_body{
    width: 95vw;
    min-height: 650px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    background-color: #5B6D7E;//#4C4C4C;//#43586B;//#6A7F92;//#3C5672;
    overflow-x: hidden;
    padding: 0.5%;

    margin-top: 3.5vh;

    padding-top: 0.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

}