.central_body{
  width: 1274px;
  min-height: 650px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  background-color: #4C4C4C;//#43586B;//#6A7F92;//#3C5672;
  overflow-x: hidden;
  padding: 0.5%;
}